// color palette
$mainColorPastel : #bedcfa;
$mainColor : #98acf8;
$darkMainColor : #b088f9;
$darkPastelColor : #da9ff9;

// monokrom color
$darkColor : #202124;
$dark : #141414;
$darkgrey : #3C4042;
$lightgrey : #dbdbdb;
$grey : #6e7074;

// fonts
$mainFont : 'Poppins', sans-serif;
$headerFont :'Open Sans', sans-serif;
$minimalistFont :'Montserrat', sans-serif;
$debug : 1px solid red;

// fluid font
// $minsize, $maxsize, $minvw, $maxvw
@mixin fluidFont(){
    font-size: calc(16px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

@mixin centerElement($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin fontStyle($fontSize) {
    font-size: $fontSize;
    text-decoration: none;
    text-transform: none;
    list-style: none;
}

@mixin backgroundImage($url){
    background-image : $url;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

// classes
.checked{
    text-decoration: line-through;
}