$mainColorPastel : #FFB2FF;
$mainColor : #e184f1;
$darkMainColor : #B64FC8;
$darkColor : #202124;
$dark : #141414;
$darkgrey : #3C4042;
$lightgrey : #c0c0c0;
$grey : #6e7074;
$mainFont : 'Poppins', sans-serif;
$headerFont :'Pacifico', cursive;
$debug : 1px solid red;
$mainGradient: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
$bgGradient: radial-gradient( circle farthest-corner at 10% 20%,  rgba(161,255,255,1) 11.3%, rgba(6,255,255,1) 41.2%, rgba(0,216,216,1) 77.8% );;;


// fluid font
// $minsize, $maxsize, $minvw, $maxvw
@mixin fluidFont(){
    font-size: calc(16px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

@mixin centerElement($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin fontStyle($fontSize) {
    font-size: $fontSize;
    text-decoration: none;
    text-transform: none;
    list-style: none;
}

@mixin backgroundImage($url){
    background-image : $url;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

// classes
