.checked {
  text-decoration: line-through;
}

* {
  font-family: "Poppins", sans-serif;
}

*:focus {
  outline: none !important;
}

html {
  scroll-behavior: smooth;
}

.icons, .dots {
  cursor: pointer;
}

.sidebar {
  width: 20%;
  height: 100vh;
}

.main-container {
  border-left: 1px solid #dbdbdb;
  background-color: #edeff1;
}

.header-todo h1 {
  font-family: "Montserrat", sans-serif;
  text-shadow: -5px 5px 2px #595d5f5b;
  text-transform: uppercase;
}

.header-todo span {
  color: #98acf8;
}

.todo-container {
  background-color: white;
}

.inputbar-container .input-bar {
  border: 1px solid #98acf8;
}

.inputbar-container .input-bar::-webkit-input-placeholder {
  font-size: 0.8rem;
}

.inputbar-container .input-bar:-ms-input-placeholder {
  font-size: 0.8rem;
}

.inputbar-container .input-bar::-ms-input-placeholder {
  font-size: 0.8rem;
}

.inputbar-container .input-bar::placeholder {
  font-size: 0.8rem;
}

.inputbar-container .add-btn {
  font-size: 0.8rem;
  background-color: #98acf8;
}

.todo-list .todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem;
  width: 95%;
  height: 4rem;
  -webkit-box-shadow: 0px 2px 15px -5px rgba(153, 153, 153, 0.486);
          box-shadow: 0px 2px 15px -5px rgba(153, 153, 153, 0.486);
  margin-bottom: 1rem;
  border-left: 3px solid #98acf8;
  background-color: #f3f8fd;
}

.todo-list .todo .todo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.todo-list .todo .fi-rr-checkbox {
  font-size: 1rem;
  color: #98acf8;
  margin-right: 0.5rem;
}

.option-dots {
  display: none;
}

.fi-rr-align-justify {
  background-color: #98acf8;
  color: black;
}

@media screen and (max-width: 768px) {
  .main-container {
    padding: 0 2.5rem;
    border: none;
  }
  .sidebar {
    position: absolute;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    display: block;
    width: 80%;
    min-height: 100vh;
    background-color: white;
    border-right: 2px solid #98acf8;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
  .sidebar #close-btn {
    color: #98acf8;
  }
  .navbar-phones {
    display: block;
  }
  .navbar-phones .menu-toggle .fi-rr-align-left {
    color: #98acf8;
  }
  .navbar-phones .notification .fi-rr-bell-ring {
    color: #98acf8;
  }
  .header-todo {
    padding-left: 1rem;
  }
  .header-todo h1 {
    text-shadow: none;
    font-family: "Poppins", sans-serif;
    text-transform: none;
  }
  .header-todo span {
    font-size: 0.7rem;
  }
  .todo-list .todo {
    margin-top: 1rem;
  }
  .inputbar-container {
    display: none;
  }
  #phone-footer {
    position: fixed;
    bottom: 0.5rem;
  }
  #phone-footer .add-new-container .add-new-btn span {
    font-size: 2rem;
    color: #98acf8;
  }
  #phone-footer .footer-option ul li span {
    display: none;
    color: #98acf8;
  }
}

@media screen and (max-width: 680px) {
  .inputbar-container {
    display: none;
  }
  .main-container {
    background-color: white;
    padding: 0;
  }
  .header-todo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-todo h1 {
    margin-bottom: 0.25rem;
  }
  .todo-list .todo {
    width: 90%;
  }
  .todo-list .todo .dots {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */