.active {
  border-bottom: 2px solid #e184f1;
  font-weight: 500;
  color: #e9e9e9;
}

.checked {
  text-decoration: line-through;
  opacity: 0.5;
}

.dragged {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-transform: scale(1.02, 1.02);
          transform: scale(1.02, 1.02);
}

.clicked {
  display: block !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
  list-style: none;
  overflow-x: hidden;
  background-color: #141414;
  color: #c0c0c0;
  min-height: 100%;
}

nav {
  width: 100%;
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.selection {
  display: none;
}

.filter-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  min-height: 10vh;
}

.filter-cont .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  width: 10vw;
  height: 10vh;
  cursor: pointer;
}

.header-container {
  width: 100%;
  text-align: center;
  margin-top: 2.5em;
}

.header-container .header h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.header-container .header h4 {
  font-size: 1rem;
  font-weight: 400;
  color: #6e7074;
}

.inputbar-container {
  width: 100%;
  text-align: center;
  margin-top: 2.5em;
}

.inputbar-container .input-bar {
  width: 25vw;
  height: 6vh;
  padding: 5px;
  border: 1px solid #202124;
  font-size: 1rem;
  background-color: #202020;
  color: #c0c0c0;
  font-family: "Poppins", sans-serif;
}

.inputbar-container .input-bar:focus {
  outline: none;
}

.inputbar-container .add-btn {
  width: 3rem;
  height: 6vh;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  color: #202124;
  background-color: #B64FC8;
  border: 1px solid #202124;
}

.todo-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.todo-container .todo-box {
  width: 32vw;
  height: 80vh;
  margin: 3em;
  padding: 1.2em;
}

.todo-container .todo-box .todo-header {
  height: 4vh;
  margin-bottom: 1em;
}

.todo-container .todo-box .todo-header h2 {
  font-weight: 400;
  font-size: 1rem;
}

.todo-container .todo-box .todo-header h2 i {
  margin-right: 0.4rem;
}

.todo-list .todo {
  width: 100%;
  min-height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #202124;
  padding: 1em;
  cursor: pointer;
  margin-bottom: 0.5em;
  position: relative;
}

.todo-list .todo button {
  margin-right: 2px;
  background-color: #202124;
  border: none;
  color: #c0c0c0;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 0.4rem;
}

.todo-list .todo .todo-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.option-dots {
  width: 5rem;
  padding: 0.5rem;
  position: absolute;
  right: 0.5rem;
  bottom: -1.2rem;
  -webkit-box-shadow: 0 0 5px 1px rgba(20, 20, 20, 0.747);
          box-shadow: 0 0 5px 1px rgba(20, 20, 20, 0.747);
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  background-color: #202124;
  color: #c0c0c0;
  display: none;
}

.option-dots li {
  list-style: none;
  font-size: 0.9rem;
}

.option-dots:hover {
  color: white;
}

.phone-footer {
  display: none;
}

@media screen and (max-width: 600px) {
  nav {
    display: none;
  }
  .header-container .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 0 2.2em;
  }
  .header-container .header #date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-container .header #date h1 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
    margin-right: 0.5rem;
  }
  .header-container .header #date span {
    text-align: right;
    font-size: 1rem;
  }
  .header-container .header #date span span {
    color: #6e7074;
    font-weight: 300;
    display: block;
  }
  .header-container .header h4 {
    font-weight: 400;
    color: #c0c0c0;
  }
  .add-new-phone {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(24, 24, 24, 0.712);
    display: none;
  }
  .inputbar-container {
    position: absolute;
    top: 38%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .inputbar-container button {
    display: none;
  }
  .selection {
    width: 100%;
    height: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1em;
    padding-left: 2em;
  }
  .selection select {
    color: #e184f1;
    background-color: #141414;
    border: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
  }
  .todo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 1.5rem;
  }
  .todo-container .todo-box {
    display: none;
    min-width: 90vw;
    margin: 0;
  }
  .todo-container .todo-box .todo-header {
    border-bottom: 1px solid #3C4042;
    color: #e184f1;
  }
  .todo-container .all-box {
    display: block;
  }
  .todo-container .todo {
    background-color: transparent;
  }
  .todo-container .todo button {
    background-color: transparent;
  }
  .todo-container .todo .dots, .todo-container .todo .icon {
    width: 3rem;
    height: 1.5rem;
    background-color: transparent;
  }
  .phone-footer {
    width: 100%;
    height: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #e184f1;
    padding: 0 3rem;
  }
  .phone-footer .phone-filter-container h4 {
    font-weight: 300;
  }
  .phone-footer .phone-filter-container .filter-list {
    display: none;
  }
  .phone-footer .add-new-container {
    font-size: 1rem;
    font-weight: 300;
    color: #e184f1;
  }
  .phone-footer .add-new-container .add-new {
    cursor: pointer;
  }
}

@media screen and (max-width: 900px) {
  .input-bar {
    min-width: 65vw;
  }
  .todo-box {
    display: none;
    min-width: 75vw;
  }
  .all-box {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */