@import "variables";

*{  
    &:focus{
        outline: none !important;
    }
    font-family: $mainFont;
    // border: $debug !important;
}

html{
    scroll-behavior: smooth;
}

// ALL ICONS
.icons, .dots{
    cursor: pointer;
}

// side bar section
.sidebar{
    width: 20%;
    height: 100vh;
}


// big container section,  the background container of the todo
.main-container{
    border-left: 1px solid $lightgrey;
    background-color: #edeff1;
}

.header-todo{
    h1{
        font-family: $minimalistFont;
        text-shadow: -5px 5px 2px #595d5f5b;
        text-transform: uppercase;
    }
    span{
        color: $mainColor;
    }
}

// todo section
// todo's container
.todo-container{
    background-color: white;
}

.inputbar-container{
    .input-bar{
        border: 1px solid $mainColor;

        &::placeholder{
            font-size: 0.8rem;
        }
    }
    .add-btn{
        font-size: 0.8rem;
        background-color: $mainColor;
    }
}

// todo style
.todo-list{
    .todo{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0.5rem 1rem;
        width: 95%;
        height: 4rem;
        box-shadow: 0px 2px 15px -5px rgba(153, 153, 153, 0.486);
        margin-bottom: 1rem;
        border-left: 3px solid $mainColor;
        background-color: #f3f8fd;

        .todo-text{
            display: flex;
            align-items: baseline;
            flex: 1;
        }   

        .fi-rr-checkbox{
            font-size: 1rem;
            color: $mainColor;
            margin-right: 0.5rem;
        }
    }
}

.option-dots{
    display: none;
}

// icon style
.fi-rr-align-justify{
    background-color: $mainColor;
    color: black;
}


// *MEDIA QUERIES

// *TABLETS AND BELOW
@media screen and (max-width: 768px){
    .main-container{
        padding: 0 2.5rem;
        border: none;
    }
    .sidebar{
        position: absolute;
        transform: translateX(-100%);
        display: block;
        width: 80%;
        min-height: 100vh;
        background-color: white;
        border-right: 2px solid $mainColor;
        transition: transform 0.5s ease-in-out;
        // &::after{
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     bottom: 0;
        //     right: 0;
        //     left: 0;
        //     background-color: black;
        //     opacity: 0.5;
        //     width: 100vw;
        //     height: 100vh;
        //     z-index: -1;
        // } 

        #close-btn{
            color: $mainColor;
        }
    }

    .navbar-phones{
        display: block;    
        .menu-toggle{

            .fi-rr-align-left{
                color: $mainColor;
            }   
           
        }    

        .notification{
            .fi-rr-bell-ring{
                color: $mainColor;
            }
        }
    }

    .header-todo{
        padding-left: 1rem;
        h1{
            text-shadow: none;
            font-family: $mainFont;
            text-transform: none;

        }  
        span{
        font-size: 0.7rem;
        }
    }

    .todo-list{
        .todo{
            margin-top: 1rem;
        }
    }

    .inputbar-container{
        display: none;
    }

    // phone footer option
    #phone-footer{
        position: fixed;
        bottom: 0.5rem;

        .add-new-container{
            .add-new-btn span{
                font-size: 2rem;
                color: $mainColor;
            }
        }
        .footer-option{
            ul li span{
                // by default it's not visible
                display: none;
                color: $mainColor;
            }
        }
    }
}

@media screen and (max-width: 680px){
    .inputbar-container{
        display: none;
    }
    .main-container{
        background-color: white;
        padding: 0;
    }

    // .navbar-phones{
        
    // }

    .header-todo{
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
        h1{
            margin-bottom: 0.25rem;
        }
    }

    .todo-list{
        .todo{
            width: 90%;
            .dots{ 
                display: none;
            }
        }
    }
  
}