@import "variables";

*{  

    &:focus{
        outline: none;
    }
    font-family: $mainFont;
}


.svg {
    background-image: $bgGradient;
    svg{
        opacity: 0.5;
    }
}

.header {
    top: 0;
}

.header-txt{
    h1{
        font-family: $headerFont;
        text-shadow: -2px -1rem 0 $lightgrey;
        color: white;
    }
}