@import "variables";

*{  
    &:focus{
        outline: none !important;
    }
    font-family: $mainFont;
}

.sidebar{
    width: 20%;
    height: 100vh;
}

.main-container{
    border-left: 1px solid $lightgrey;
    width: 80%;
    background-color: #edeff1;
}

.header-todo{
    h1{
        font-family: $minimalistFont;
        text-shadow: -5px 5px 2px #595d5f5b;
    }
}

.todo-container{
    background-color: white;
}

.inputbar-container{
    .input-bar{
        border: 1px solid $lightgrey;
    }
    .add-btn{
        background-color: $mainColor;
    }
}

// todo style
.todo-list{
    .todo{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0.5rem 1rem;
        width: 95%;
        height: 4rem;
        box-shadow: 0px 2px 15px -5px rgba(153, 153, 153, 0.486);
        margin-bottom: 0.5rem;

        .todo-text{
            flex: 1;
        }

        .icon{
            margin-right: 0.5rem;
        }
    }
}

.option-dots{
    display: none;
}

@media screen and (max-width: 780px){
    .sidebar{
        display: none;
    }
}